

<mat-card>
    <mat-spinner *ngIf = "isLoading"></mat-spinner>
    <form *ngIf = "!isLoading" #signupForm = "ngForm" (submit)= "onLogin(signupForm)" >
        <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder = 'Email'  #emailInput = 'ngModel' require email>
            <mat-error *ngIf ="emailInput.invalid">Please enter Email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="password"  type="password" placeholder = 'Password signup Pepeg' ngModel #passwordInput = 'ngModel' require password>
        <mat-error *ngIf ="passwordInput.invalid">Please enter password</mat-error>
         </mat-form-field>
        <button *ngIf = "!isLoading" mat-raised-button type="submit">SignUp</button>
      
    </form>
</mat-card>


